body{
    background: -webkit-linear-gradient(left, #E26C7A, #AA72E3);
}
.contact-form{
    background: #F3F3F3;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 3rem;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}
button{
	border:5px solid #225661;-webkit-box-shadow: #B4B5B5 4px 4px 4px  ;-moz-box-shadow: #B4B5B5 4px 4px 4px ; box-shadow: #B4B5B5 4px 4px 4px  ; -webkit-border-radius: 22px; -moz-border-radius: 22px;border-radius: 22px;font-size:15px;font-family:tahoma, verdana, arial, sans-serif; padding: 16px 16px 16px 16px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #a7cfdf; background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
	background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
	background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
	width: 40%;
	margin:auto;
    display:block;
	text-align: center;
}

button:hover{
 border:5px solid #136B16;
 background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
 background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
 background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
 background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
 background-image: -o-linear-gradient(top, #82bbd1, #193b61);
 background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
}